<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
    <meta charset="utf-8"/>
    <title>A Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/createcsv/style.css' %}" type="text/css"/>
</head>

<body class="govuk-template__body">

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div>
            <h1 class="govuk-heading-xl">Welcome to Digital Land Registers</h1>
            <p class="govuk-body">The place to be to update your cool and funky registers</p>
        </div>

        <div>
            <h2 class="govuk-heading-l">Please select the register you wish to update</h2>
            <div>
                <form method="post" class="govuk-form-group">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="govuk-button">Submit</button>
                </form>
            </div>
        </div>
    </main>
</div>

</body>

</html>