<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
    <meta charset="utf-8"/>
    <title>A Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/createcsv/style.css' %}" type="text/css"/>
</head>

<body class="govuk-template__body">

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div>
            <h1 class="govuk-heading-xl">Update your register here</h1>
            <p class="govuk-body">Add all of your wonderful information</p>
        </div>

        <div>
            <h2 class="govuk-heading-l">Make sure you follw the data rules</h2>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="govuk-button">Submit</button>
                </form>
            </div>
        </div>
    </main>
</div>


</body>

</html>